<footer id="pageFooter" style="background-color: rgba(0,0,0,0.1); display: inline-block; font-size: 8px; margin-bottom: 15px; padding: 5px;">
    <!--placeholderLogoPDP-->
    <div style="float: left; width: 400px; margin-right: 10px; text-align: justify;">
        El contenido de este informe ha sido validado digitalmente siguiendo los estándares de calidad y seguridad requeridos. El
        Hospital Provincial Neuquén es responsable Inscripto en el Registro Nacional de Protección de Datos Personales bajo
        el N° de Registro 100000182, según lo requiere la Ley N° 25.326 (art. 3° y 21 inciso 1)
        <!--placeholderSessionData-->hs
    </div>
</footer>