<header id="pageHeader" style="background-color: rgba(0,0,0,0.1); font-size: 10px; height: 40px !important; padding-top: 8px; padding-left:5px;">
    <div class="col-4 m-0 p-0">
        <!--placeholderLogoAndes-->
        <div class="logo p-2" style="float: left; padding: 5px;">
            <!--placeholderLogotipoAndes-->
        </div>
    </div>
    <div class="col-8 m-0 p-0">
        <div class="organizacion" style="position: relative; top: 17px;">
            <!--placeholderOrganizacion-->
        </div>
    </div>
</header>